<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Profile</title>
  </head>
  <body>
    <h1>{{user.name}}'s Profile</h1>
    <a href="/quotes">Quotastic Dashboard</a>
    <a href="login_register/login_register/logout">Logout</a>
    <h3>Created Quotes:</h3>
    {% for quote in user.quotes.all %}
    <div class="quote">
      <p><span>{{quote.creator}}:</span>{{quote.message}}</p>
      <p>Posted by: {{user.name}} (that's you!)</p>
      <a href="quotes/mylist/add">Add to My List</a>
    </div>
    {% endfor %}
    <h3>Favorited Quotes:</h3>
  </body>
</html>
