<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>QuoteTastic Dashboard</title>
  </head>

  <body>
    <h1>Welcome to the QuoteTastic homepage</h1>
    <a href="/">User Dashboard</a>
    <a href="login_register/login_register/logout">Logout</a>
    <h4>Quotable Quotes</h4>
    <div id="all_quotes">
      {% for quote in quotes %}
      <div class="quote">
        <p><span>{{quote.creator}}:</span>{{quote.message}}</p>
        <p>Posted by: {{quote.user.alias}}</p>
        <a href="quotes/mylist/add">Add to My List</a>
      </div>
      {% endfor %}
    </div>

    <h4>Your Favorites</h4>
    <div id="user_favs">
      {% for quote in userquotes %}
      <div class="quote">
        <p><span>{{quote.creator}}:</span>{{quote.message}}</p>
        <p>Posted by: {{quote.alias}}</p>
        <a href="quotes/mylist/delete">Delete from My List</a>
      </div>
      {% endfor %}
    </div>

    <form class="" action="quotes/add" method="post">
      {% csrf_token %}
      {% for user in users %}
      <input type="hidden" name="user" value="{{user.id}}">
      {% endfor %}
      <input type="text" name="creator" value="" placeholder="Quote Creator">
      <input type="text" name="message" value="" placeholder="Quote">
      <input type="submit" name="Submit" value="submit">
    </form>
  </body>
</html>
